body{
    width: 600px; 
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}
.upline{
    background-color: rgb(36, 205, 152);
    width: 600px;
    height: 130px;
}

.cercul1{
    background-color: white;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    float: left;  
    margin-top: 15px; 
    margin-left: 15px;
}
 .denis{
    margin-top: 30px;
    margin-left: 150px;
    float: left;
    font-size:20px ;
    line-height: 20px;
}
 .stick{
    width: 85px;
    height: 70px;
    float: right;
    margin-right: 15px;
    margin-top: 30px;
}
div.stick div{
    width: 60px;
    height: 15px;
    background-color: white;
    border-radius: 7px;
    margin-top: 7px;
}
/*Картинка с кнопкой*/
.room{
    text-align: center;
    position: relative;
    
}
.room img{
    height: 400px;
}
.room .button1{
    background-color: orange;
    height: 50px;
    width: 250px;
    color: white;
    border-radius: 7px;
    border: none;
    position: absolute;
    font-size: 18px;
    top: 200px;
    left: 30%;

}
.room .button1:hover{
    background-color: black;
}
/*Текст, лицо, имя и т.д */
.boss{
    background-color: white;
    width: 600px;
    margin-top: -22px;
    padding-bottom: 385px;
    padding-top: 20px;
    position: relative;
}
.boss .My_name{
    float: right;
    margin-top: 45px;
    margin-right: 60px;
}
.boss .my_face{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 12px;
}
.boss .Text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 250px;
    margin-bottom: -200px;
}
.boss .prichini{
    margin-top: 210px;
    margin-bottom: -200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.boss .problem{
    margin-top: 230px;
    margin-bottom: -200px;
    font-size: 20px; 
}
.boss .button2{
    background-color: orange;
    height: 50px;
    width: 250px;
    color: white;
    border-radius: 7px;
    border: none;
    position: absolute;
    font-size: 18px;
    top: 85%;
    left: 30%;
}
.boss .button2:hover{
    background-color: black;
}
.the_end{
    background-color: rgb(136, 138, 136);
    height: 93px;
    width: 600px;
    margin-top: -12px;
}
.the_end .cercul2{
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    margin: 7px;
}
.the_end .street{
    padding-top: 50px;
    margin-left: 285px;
    font-size: 13px;
    color: white;
}
.the_end .number{
    margin-top: -50px;
    margin-left: 485px;
    font-size: 13px;
    color: white;
}
.the_end .link{
    margin-left: 485px;
    font-size: 13px;
    text-decoration: none;
}
